@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lobster&display=swap');
.home {
    .app-title {
        font-family: Kanit;
        font-size: 75px;
        font-weight: bold;
        text-align: center;
    }

    .import-module {
        margin: 40px 0;
    
        .import-module-paper {
            padding: 20px 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .import-module-input {
                width: 70%;
            }

            .import-module-btn {
                width: 20%;
            }
        }

    }

    .training-history {
        padding-inline: 25px;

        .training-history-title {
            font-size: 25px;
            font-weight: bold;
            padding-top: 15px;
        }
    
        .training-history-table-paper {
            margin: 30px 0;
        }

        .training-table-header{
            background-color: #94949452;
        }
    }

}