@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lobster&display=swap');
.home {
    .app-title {
        font-family: Kanit;
        font-size: 75px;
        font-weight: bold;
        text-align: center;
    }

    .welcome {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
        
        .welcome-annouce {
            padding: 30px;
            margin-bottom: 25px;
            text-align: center;

            .welcome-initial-actions-sentence {
                padding-top: 3px;
            }
        } 

        .welcome-initial-actions {
            display: flex;
            flex-direction: column;
            text-align: center;

            .welcome-initial-actions-list {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                height: 130px;

                .creation-link, .import-module {
                    align-items: center;
                    height: 100%;
                    padding: 30px auto;
                }

                .creation-link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 45%;
                }

                .import-module {
                    width: 50%;                
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
            
                    .import-module-input {
                        width: 285px;
                    }
        
                    .import-module-btn {
                    }
                }
            }
        }
    }

    .training-history {
        padding-inline: 25px;

        .training-history-title {
            font-size: 25px;
            font-weight: bold;
            padding-top: 15px;
        }
    
        .training-history-table-paper {
            margin: 30px 0;
        }

        .training-table-header{
            background-color: #94949452;
        }
    }

}