* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
html {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Noto Sans JP, Roboto, Helvetica, Arial, sans-serif;
  background-color: whitesmoke;
  height: 100%;  
  margin: auto;
}

#root {
  height: 100%;
  width: 100%;
}

.page {
  width: 1200px;
  height: 100%;
  margin: auto;
  
  display: flex;
  flex-direction: column;
}
